.Barra{
  display: flex;
  flex-direction: row;
  background-color: #212529;
  color: white;
  justify-content: space-between;
  font-size: 50px;
  height: 5vh;
  font-size: smaller;
  text-align: center;
}
.Barra h3{
  font-size: 22px;
}
.Home{
  display: flex;
  flex-direction: column;
  height: 90vh;
}
.Footer{
  display: flex;
  justify-content: center;
  color: white;
  background-color: #212529;
  height: 5vh;
  font-size: 12px;
  text-align: center;
  align-items: center;
  
}
.header {
  position: relative;
  background-image: url('../public/header_720.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Aumenta la opacidad para hacerla más oscura */
  z-index: 1;
}

.header-content {
  border-bottom: 1px solid gray;
  position: relative;
  z-index: 2;
  color: white;
}
.header-content h3{
  font-size: 15px;
}
.header-content h1{
  margin: 5px;
}
.pizzaimg{
  width: 15px;
}
.card-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}
.CardP{
  width: 350px;
  height: 50px;
  justify-content: center;
}
.Register{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100wh;
  height: 90vh;
}
.mb-3{
  width: 600px;
}
.Login{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100wh;
  height: 90vh;
}